@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Rubik", sans-serif;
}

:root {
    --color-primary: #3935FF;
    --color-accent: #ff3895;
    --color-background-primary: white;
    --color-text: #544E64;
    --color-success: #1FED58;
    --color-error: #FF5353;

    --max-width: 1024px;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    background-color: var(--color-background-primary);
    overflow-x: hidden;
}

h2 {
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
    color: var(--color-text);
    border: none;
    outline: none;
}

input, textarea {
    padding: .5rem 1rem;
    border: 1px solid var(--color-text);
    border-radius: .25rem;
    outline: none;
    background: transparent;
}

input:focus, textarea:focus {
    outline: 1px solid var(--color-text);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 2rem var(--color-background-primary) inset !important;
    -webkit-box-shadow: 0 0 0 2rem var(--color-background-primary) inset !important;
}

textarea {
    resize: none;
}

.primary-btn, .outline-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: .25rem;
}

.primary-btn {
    padding: .75rem 2rem;
    color: var(--color-background-primary);
    background-color: var(--color-primary);
    transition: background-color 200ms;
}

.primary-btn:hover {
    background-color: var(--color-accent);
}

.outline-btn {
    padding: calc(.75rem - 2px) 2rem;
    border: 2px solid var(--color-text);
    transition-property: color, border-color;
    transition-duration: 200ms;
}

.outline-btn:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.icon-btn.light {
    --_main-color: var(--color-background-primary);
    --_accent-color: var(--color-text);
}

.icon-btn {
    --_main-color: var(--color-text);
    --_accent-color: var(--color-background-primary);

    position: relative;
    color: var(--_main-color);
    transition: color 150ms;
}

.icon-btn::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    inset: 0;
    translate: -25% -33%;
    border-radius: 50%;
    background-color: var(--_main-color);
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}

.icon-btn:hover::before {
    opacity: 1;
    animation: iconBtnScale 200ms forwards;
}

.icon-btn:hover {
    color: var(--_accent-color);
}

.inputfield {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputfield label {
    position: absolute;
    top: 50%;
    left: 12px;
    padding-inline: .25rem;
    transform: translateY(-50%);
    font-size: normal;
    pointer-events: none;
    opacity: .75;
    transition-property: top, font-size, background-color, opacity;
    transition-duration: 300ms;
}

.inputfield:has(input:focus) label,
.inputfield:has(input:not(:placeholder-shown)) label {
    top: 0;
    font-size: 12px;
    background-color: var(--color-background-primary);
    opacity: 1;
}

@keyframes iconBtnScale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}