@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #3935FF;
    --color-secondary: #ff3895;
    --color-background-primary: white;
    --color-text: #544E64;
    --color-success: #1FED58;
    --color-error: #FF5353;

    --content-margin-vertical: 4rem;
    --content-margin-horizontal: 20%;
    --content-margin: var(--content-margin-vertical) var(--content-margin-horizontal);
}

body {
    margin: var(--content-margin);
    color: var(--color-text);
    background-color: var(--color-background-primary);
}

h2 {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
}

li {
    list-style: none;
}

a, button {
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
    transition: filter 300ms;
}

button {
    background: none;
    color: var(--color-text);
    border: none;
    outline: none;
}

a:hover, button:hover {
    filter: opacity(.5);
}

.primary-btn, .outline-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    border-radius: .25rem;
}

.primary-btn {
    padding: .5rem 2rem;
    color: white;
    background-color: var(--color-primary);
}

.outline-btn {
    padding: calc(.5rem - 2px) 2rem;
    border: 2px solid var(--color-text);
}

.icon-btn.light {
    --main-color: white;
    --accent-color: var(--color-text);
}

.icon-btn {
    --main-color: var(--color-text);
    --accent-color: white;

    position: relative;
    color: var(--main-color);
    transition: color 150ms;
}

.icon-btn::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}

.icon-btn:hover::before {
    opacity: 1;
    animation: iconBtnScale 200ms forwards;
}

.icon-btn:hover {
    filter: none;
    color: var(--accent-color);
}

.vl {
    width: 2px;
    height: 100%;
    background-color: var(--color-text);
}

.vl.light {
    background-color: white;
}

@media only screen and (max-width: 1024px) {
    :root {
        --content-margin-vertical: 2rem;
        --content-margin-horizontal: 2rem;
    }
}

@keyframes iconBtnScale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}